.trending-container {
  top: 0; /* Adjust this value based on your navbar height */
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.btn {
  padding: 8px 16px;
  margin:10px;
  background-color: lightgray;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: darkgray;
}

  .navbar h2 {
    margin: 0;
  }

.logout-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  width: 100px;
}

  .logout-button:hover {
    background-color: darkred;
  }

.content {
  position: absolute;
  top: 70px; /* Adjust this value based on your navbar height */
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  font-size: 28px;
}

td {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}


tr:hover {
  background-color: rgba(197, 197, 197, 0.2);
}

.low {
  background-color: rgba(252, 248, 3, 0.7);
}

.mid {
  background-color: rgba(252, 173, 3, 0.7);
}

.high {
  background-color: rgba(252, 61, 3, 0.7);
}
