<div class="navbar">
<button (click)="openAddTagPopup('digitalInput')">Add DI Tag</button>
<button (click)="openAddTagPopup('digitalOutput')">Add DO Tag</button>
<button (click)="openAddTagPopup('analogInput')">Add AI Tag</button>
<button (click)="openAddTagPopup('analogOutput')">Add AO Tag</button>
</div>

<div class="table-container">
  <table>
    <caption class="header">Tags</caption>
    <thead>
      <tr>
        <th>Tag Type</th>
        <th>Description</th>
        <th>Value</th>
        <th>Low Limit</th>
        <th>High Limit</th>
        <th>Unit</th>
        <th>Scan Time</th>
        <th>Scan Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let digitalInput of digitalInputs">
        <tr>
          <td>DI</td>
          <td>{{ digitalInput.description }}</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>{{ digitalInput.scanTime }}</td>
          <td>
            <div class="turn">
            <span [ngClass]="{'icon-green': digitalInput.isScanning, 'icon-red': !digitalInput.isScanning}"></span>
           <span class="turntxt"> {{digitalInput.isScanning ? 'ON' : 'OFF' }}</span>
        </div>
          </td>
          <td>
            <button class="scan" (click)="turnDigitalInput(digitalInput.id)">
              {{ digitalInput.isScanning ? 'Turn Scan OFF' : 'Turn Scan ON' }}
            </button>
        </td>
        <td>
            <button class="remove" (click)="deleteDigitalInput(digitalInput.id)">Remove</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let digitalOutput of digitalOutputs">
        <tr>
          <td>DO</td>
          <td>{{ digitalOutput.description }}</td>
          <td>{{ digitalOutput.initialValue }}</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td style="text-align: center;">-</td>
          <td></td>
          <td>
            <button class="remove" (click)="deleteDigitalOutput(digitalOutput.id)">Remove</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let analogInput of analogInputs">
        <tr>
          <td>AI</td>
          <td>{{ analogInput.description }}</td>
          <td>-</td>
          <td>{{ analogInput.lowLimit }}</td>
          <td>{{ analogInput.highLimit }}</td>
          <td>{{ analogInput.unit }}</td>
          <td>{{ analogInput.scanTime }}</td>
          <td>
            <div class="turn">
            <span [ngClass]="{'icon-green': analogInput.isScanning, 'icon-red': !analogInput.isScanning}"></span>
           <span class="turntxt">{{ analogInput.isScanning ? 'ON' : 'OFF' }}</span> 
        </div>
          </td>
          <td>
            <button class="scan" (click)="turnAnalogInput(analogInput.id)">
              {{ analogInput.isScanning ? 'Turn Scan OFF' : 'Turn Scan ON' }}
            </button>
        </td>
    <td>
            <button class="remove" (click)="deleteAnalogInput(analogInput.id)">Remove</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let analogOutput of analogOutputs">
        <tr>
          <td>AO</td>
          <td>{{ analogOutput.description }}</td>
          <td>{{ analogOutput.initialValue }}</td>
          <td>{{ analogOutput.lowLimit }}</td>
          <td>{{ analogOutput.highLimit }}</td>
          <td>{{ analogOutput.unit }}</td>
          <td>-</td>
          <td style="text-align: center;">-</td>
          <td></td>
          <td>
            <button class="remove" (click)="deleteAnalogOutput(analogOutput.id)">Remove</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- Popup forms -->

<!-- Analog Input Form -->
<div class="popup" *ngIf="showAddTagPopup && tagType === 'analogInput'">
    <h3>Add Analog Input Tag</h3>
    <form (ngSubmit)="createAnalogInput()">
        <label for="analogInputDescription">Description:</label>
        <input type="text" id="analogInputDescription" name="analogInputDescription"
            [(ngModel)]="analogInputForm.description">

        <label for="analogInputScanTime">Scan Time:</label>
        <input type="number" id="analogInputScanTime" name="analogInputScanTime" [(ngModel)]="analogInputForm.scanTime">
        <label for="analogInputLowLimit">Low Limit:</label>
        <input type="number" id="analogInputLowLimit" name="analogInputLowLimit" [(ngModel)]="analogInputForm.lowLimit">
        <label for="analogInputHighLimit">High Limit:</label>
        <input type="number" id="analogInputHighLimit" name="analogInputHighLimit"
            [(ngModel)]="analogInputForm.highLimit">
        <label for="analogInputUnit">Unit:</label>
        <input type="text" id="analogInputUnit" name="analogInputUnit" [(ngModel)]="analogInputForm.unit">

        <button type="submit">Add Analog Input Tag</button>
        <button (click)="closeAddTagPopup()">Cancel</button>
    </form>
</div>

<!-- Analog Output Form -->
<div class="popup" *ngIf="showAddTagPopup && tagType === 'analogOutput'">
    <h3>Add Analog Output Tag</h3>
    <form (ngSubmit)="createAnalogOutput()">
      <label for="analogOutputDescription">Description:</label>
      <input type="text" id="analogOutputDescription" name="analogOutputDescription" [(ngModel)]="analogOutputForm.description">
  
      <label for="analogOutputInitialValue">Initial Value:</label>
      <input type="number" id="analogOutputInitialValue" name="analogOutputInitialValue" [(ngModel)]="analogOutputForm.initialValue">
      <label for="analogOutputLowLimit">Low Limit:</label>
      <input type="number" id="analogOutputLowLimit" name="analogOutputLowLimit" [(ngModel)]="analogOutputForm.lowLimit">
      <label for="analogOutputHighLimit">High Limit:</label>
      <input type="number" id="analogOutputHighLimit" name="analogOutputHighLimit" [(ngModel)]="analogOutputForm.highLimit">
      <label for="analogOutputUnit">Unit:</label>
      <input type="text" id="analogOutputUnit" name="analogOutputUnit" [(ngModel)]="analogOutputForm.unit">
  
      <button type="submit">Add Analog Output Tag</button>
      <button (click)="closeAddTagPopup()">Cancel</button>
    </form>
  </div>
  
  <!-- Digital Input Form -->
  <div class="popup" *ngIf="showAddTagPopup && tagType === 'digitalInput'">
    <h3>Add Digital Input Tag</h3>
    <form (ngSubmit)="createDigitalInput()">
      <label for="digitalInputDescription">Description:</label>
      <input type="text" id="digitalInputDescription" name="digitalInputDescription" [(ngModel)]="digitalInputForm.description">
  
      <label for="digitalInputScanTime">Scan Time:</label>
      <input type="number" id="digitalInputScanTime" name="digitalInputScanTime" [(ngModel)]="digitalInputForm.scanTime">
  
      <button type="submit">Add Digital Input Tag</button>
      <button (click)="closeAddTagPopup()">Cancel</button>
    </form>
  </div>
  
  <!-- Digital Output Form -->
  <div class="popup" *ngIf="showAddTagPopup && tagType === 'digitalOutput'">
    <h3>Add Digital Output Tag</h3>
    <form (ngSubmit)="createDigitalOutput()">
      <label for="digitalOutputDescription">Description:</label>
      <input type="text" id="digitalOutputDescription" name="digitalOutputDescription" [(ngModel)]="digitalOutputForm.description">
  
      <label for="digitalOutputInitialValue">Initial Value:</label>
      <input type="number" id="digitalOutputInitialValue" name="digitalOutputInitialValue" [(ngModel)]="digitalOutputForm.initialValue">
  
      <button type="submit">Add Digital Output Tag</button>
      <button (click)="closeAddTagPopup()">Cancel</button>
    </form>
  </div>

